@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Kanit:wght@300&family=Roboto+Slab:wght@500&display=swap');
:root{
    --primario:#c004de;
    --secundario:#5733ac;
    --terciario:#a3b1fe;
    --blanco:#fff;
    --negro:#000;
    --gris:#989898;

    --Principal:'Kanit', sans-serif;
    --Titulo:'Roboto Slab', serif;
    --Parrafo:'Exo 2', sans-serif;
}

        /*Estilos generales*/
html{
    padding: 0;
    margin: 0;
    background-color: #fff;
}
body{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    background-image: url(../img/pantalla.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--blanco);
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
    padding: none;
}
h1{
    font-family: var(--Principal);
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}
h2{
    font-family: var(--Titulo);
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}
h3{
    font-family: var(--Parrafo);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
p{
    font-family: var(--Parrafo);
    text-align: justify;
    font-size: 17.5px;
    letter-spacing: 1.5px;
}

        /*Encabezados*/
.Encabezado{
    display: grid;
    place-items: center;
    background-image: url(../img/fondo.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.Encabezado__principal{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 0;
}
@media(min-width:768px ){
    .Encabezado__principal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .Encabezado__presentacion{
        grid-column: 1/3;
    }
}
.Encabezado img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
@media(min-width: 768px){
    .Encabezado img{
        width: 300px;
        height: 300px;
        border-radius: 100%;
    }
}

.Encabezado__Datos{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
    margin-top: 10px;
}
.Encabezado__Datos span{
    text-transform: lowercase;
}
.Encabezado__imagen{
    display: grid;
    place-items: center;
}
.Encabezado__presentacion{
    display: grid;
    place-items: center;
    padding: 10px;
    color: var(--blanco);
}
.Encabezado__presentacion--button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: var(--Titulo);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}
.Encabezado__presentacion--button::after{
    content: " ";
    width: 0%;
    height: 100%;
    background: linear-gradient(to left, var(--primario), var(--secundario));;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}
.Encabezado__presentacion--button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}
.Encabezado__presentacion--button h2{
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}
.Encabezado__presentacion--button:hover h2{
    color: var(--blanco);
    text-shadow: 2px 2px 5px var(--blanco);
    animation: scaleUp 0.3s ease-in-out;
}
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

        /*Contendo central*/
@media(min-width: 768px){
    .division{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
}
        /*Principal*/
.Contenedor{
    display: grid;
    place-items: center;
}

/*Principal__laboral*/
/*Principal__lenguajes*/
.Principal__lenguajes{
    display: grid;
    place-items: center;
}
.Principal__lenguajes img{
    filter: saturate(130%);
    margin-bottom: 10px;
    width: 30%;
    border-radius: 20px;
    height: auto;
}
.Principal__lenguajes p{
    font-size: 20px;
}
.Principal__lenguajes span{
    font-size: 25px;
    font-weight: bold;
}
.Principal__skills{
    position: relative;
    width: 85%;
    background: linear-gradient(to left, var(--primario), var(--secundario));
    opacity: .9;
    padding: 0px 25px;
    border-radius: 20px;
}
.Principal__skill{
    margin: 20px 0px;
}
.Principal__skill p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Principal__skill--progreso{
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--gris);
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.Principal__skill--progreso::before{
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: var(--blanco);
}

        /*seccion academica y laboral*/
.Principal{
    padding: 15px;
}

        /*seccion de gustos y capacidades*/
.General{
    padding: 15px;
}

/*General__skills*/

.General__icons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px;
}
@media(min-width: 768px){
    .General__icons{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
    }
}
.General__icons--skill{
    filter: saturate(150%);
    width: 110px;
    display: grid;
    place-items: center;
    transition: all .7s ease;
}
.General__icons--skill:hover{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1.3);
    scale: 1.2;
    transition: all .5s ease-in;
}
.General__icons p{
    text-align: center;
    font-family: var(--Parrafo);
    font-size: 20px;
    letter-spacing: 2px;
    transition: all .5s ease-in;
}
/*.General__icons--skill img{
    filter: saturate(150%);
    transition: all 1s ease;
}
.General__icons--skill img:hover{
    scale: 1.4;
    transition: all 1s ease;
}
.General__icons p{
    text-align: center;
    font-family: var(--Parrafo);
    font-size: 20px;
    letter-spacing: 2px;
    transition: all 1s ease;
}
.General__icons p:hover{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1.3);
}
*/
/*General__capacidades*/

.General__capacidades li{
    list-style: disc;
    margin-left: 20px;
}

/*General__actividades*/
.General__actividades--lista li{
    list-style: disc;
    margin-left: 20px;
}
.General__actividades__titulo{
    display: grid;
    place-items: center;
    margin: 40px 0px;
}
.General__actividades--button{
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid var(--negro);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em var(--negro);
    cursor: pointer;
}
.General__actividades--button:hover{
    transform: translate(-0.15em, -0.15em);
    box-shadow: 0.15em 0.15em var(--negro);
}
.General__actividades--button:active{
    transform: translate(0.15em, 0.15em);
    box-shadow: 0.05em 0.05em;
}

.General__hobbie__actividad{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.General__hobbie{
    display: grid;
    place-items: center;
    gap: 10px;
    text-align: center;
    width: 150px;
}
.General__hobbie img{
    filter: saturate(150%);
}
.General__hobbie p{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

        /*Actividades laborales*/
.Laboral{
    padding: 10px;
    margin-top: 20px;
}

        /*Forma de contacto*/
footer{
    padding: 10px;
    background-color: var(--negro);
}
.Contacto{
    display: grid;
    place-items: center;
}
.Contacto h2{
    text-align: center;
    color: var(--blanco);
    font-size: 30px;
}
.Contacto ul li{
    border: var(--blanco) 2px solid;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
.Contacto ul li svg{
    stroke: var(--blanco);
}
.Contacto__lista{
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    transition: all .5s ease-in;
}
/*Redes sociales*/
/*Facebook*/
.Contacto__lista:hover:nth-child(1){
    scale: 1.5;
    border: none;
    background-color: #1877f2;
    transition: all .5s ease-in;
}
.Contacto__lista svg:hover:nth-child(1){
    stroke: var(--blanco);
    transition: all .5s ease-in;
}
/*Instagram*/
.Contacto__lista:hover:nth-child(2){
    scale: 1.5;
    border: none;
    background:linear-gradient(to right, #833ab4, #fd1d1d);
    transition: all .5s ease-in;
}
.Contacto__lista svg:hover:nth-child(2){
    stroke: var(--blanco);
    transition: all .5s ease-in;
}
/*X*/
.Contacto__lista:hover:nth-child(3){
    scale: 1.5;
    border: var(--blanco) 1px solid;
    background-color: var(--negro);
    transition: all .5s ease-in;
}
.Contacto__lista svg:hover:nth-child(3){
    stroke: var(--blanco);
    transition: all .5s ease-in;
}
/*Linkedin*/
.Contacto__lista:hover:nth-child(4){
    scale: 1.5;
    border: none;
    background-color: #0077B5;
    transition: all .5s ease-in;
}
.Contacto__lista svg:hover:nth-child(4){
    stroke: var(--blanco);
    transition: all .5s ease-in;
}
.Contacto__lista a{
    text-decoration: none;
    font-size: 18px;
}
.Contacto__lista:last-child{
    margin-right: 0px;
}
/*Derechos de autor*/
.Derechos_autor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--blanco);
    letter-spacing: 3px;
}
.Derechos_autor svg{
    stroke: var(--blanco);
    width: 25px;
}