:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  border-top: 1px solid #ddd;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.info {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.info__tab-contenedor {
  display: flex;
  justify-content: center;
}

.info__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.info__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.info_header {
  padding: 30px;
}

.info__tab--1 {
  background-color: var(--color-secondary);
}

.info__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.info__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.info__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.info__tab--active {
  transform: translateY(-66%);
}

.info__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.info__content--active {
  display: flex;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.info__content--1 {
  justify-content: center;
}
