body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c4b5aed;
}

#nav_barra_image {
    width: 30px;
}

nav {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #1c4b5aed;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.774);
}

#nav_barra {
    list-style-type: none;
    margin: 0;
}

nav #nav_barra li {
    float: left;
    margin-right: 1.5vw;
    font-weight: 800;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

nav #nav_barra li:hover {
    cursor: pointer;
    font-weight: 800;
    text-decoration: none;
    color: #FFB057;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

#presentation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c4b5aed;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.774);
}

#presentation img {
    border-radius: 50%;
    max-width: 380px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transition: transform 0.3s ease-in-out;
}

#animation {
    transform: translate(-50%, -50%);

    /* Define la animaci贸n de oscilaci贸n */
    animation: oscilar 2s ease-in-out infinite;
}

@keyframes oscilar {
    0%, 100% {
        transform: translate(0, 0) translateY(0); /* Posici贸n inicial */
    }
    50% {
        transform: translate(0, 0) translateY(-20px); /* Posici贸n arriba */
    }
}

#presentation img:hover {
    transform: translate(0, 120px) rotate(360deg) scale(2);
}

#presentation h1 {
    margin: 0 30px;
    color: #fafafad6;
    font-size: 60px;
    font-weight: 800;
    word-spacing: 0px;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

#presentation p {
    margin: 0 30px;
    text-align: center;
    color: #FFB057;
    font-size: 30px;
    font-weight: 800;
    word-spacing: 0px;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

#presentation #sobre_mi_text{
    max-width: 60%;
}

#presentation #sobre_mi_text p {
    margin-top: 20px;
    font-size: 20px;
    color: #FAFAFA;
    font-weight: 400;
}

section {
    padding: 20px 30px;
    background-color: #1c4b5aed;
}


.div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div div {
    margin-left: 15px;
}

.items {
    text-align: center;
    margin-bottom: 15px;
    color: #FFB057;
    font-size: 35px;
    font-weight: 800;
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.5);
}

.div h2 {
    margin-bottom: 15px;
    color: #FFB057;
    font-size: 35px;
    font-weight: 800;
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.5);
}

.div h3 {
    margin: 0;
    color: #FFEEDB;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    /* text-transform: uppercase; */
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.5);
}

.div p {
    margin: 15px 0;
    max-width: 500px;
    text-align: center;
    font-size: 20px;
    color: #FAFAFA;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.5);
}

.decorator_image {
    display: flex;
    justify-content: center;
}
.decorator_image img {
    width: 150px;
    border-radius: 25px;
    transition: transform 0.3s ease-out;
}

.decorator_image img:hover {
    transform: scale(2);
}

