* { /*Sirve para eliminar los estilos predeterminados*/
    box-sizing: border-box;
    padding: 0; /*Margen interno*/
    margin: 0; /*Margen exterior como para alejar otros elementos*/
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 173, 51);
}
/*Estilos del archivo index*/

/*Barra de navegación*/
header{
    position: sticky; /*Hace que la barra aparezca arriba aunque nos desplacemos*/
    top: 0;
    background-color: #FFF0C9;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1; /*Ayuda a superponer la barra de navegación encima de todo lo demás*/
}
nav ul{
    display: flex;
    justify-content: center;/*Centra los elementos*/
    list-style: none; /*Elimina los puntos de los elementos*/
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    color: black;
}
nav ul li a:hover{
    background-color: #BA4A00;
}
/*Fin*/
#presentacion {
    height: 95vh;
    background-image: url('../imagenes/fondo1.jpg');
    background-size: cover; /*Cubre toda la sección*/
    background-position: center;/*Centra la imagen*/
}
#presentacion div{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    opacity: 0.7;
    text-align: center;
}
#presentacion div p {
    margin: 10px;
    font-weight: bold;
    color: black;
}
.contenedor{
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contenedor p{
    margin-bottom: 20px;
}
#bloque1 {
    height: 65vh;
    overflow: hidden;
}
.lenguajes {
    margin: 30px  40px;
    padding: 20px;
    display: inline-block;
    background-color: #ffbb6e;
    border: 3px solid black;
    border-radius: 15px;
}
.lenguajes ol{
    
    text-align: center;
}
.lenguajes li {
    list-style-position: inside;
}
section#presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center; /*Se coloca en el centro del contenedor*/
    align-items: center;
    background-color: rgb(111, 110, 110);
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
}
h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
}
.lucir {
    flex-basis: 45%; /*Cada div ocupa el 48% del contenedor y el resto es el espacio entre ellos*/
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.lucir img {
    display: block;
    width: 30%;
    margin: auto;
}
#hobbies{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.lucir h2 {
    text-align: center;
}
#programacion {
    display: flex;
    justify-content: space-around;
}
#cursos ul {
    margin-bottom: 20px;
}
#habilidades {
    margin-bottom: 20px;
}
#aptitudes img{
    width: 50%;
}
 /*Estilos del archivo proyectos.html*/
 .proyecto {
    display: flex;
    justify-content: center;
    flex-direction: row;
 }
 .imagen-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom:  30px;
 }
 .imagen-titulo img {
    max-width: 100%; /*El ancho máximo puede ser el 100% del contenedor*/
    height: auto; /*La imagen va a mantener su relación de aspecto*/
    width: 70%;
 }
#p1 {
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.info_proyecto {
    margin-left: 20px;
}
.lista-proyectos h2{
    border: 5px solid black;
    margin-bottom: 0;
}
.estructura {
    padding: 60px;
    background-color: #F9E0A1;
}
.estructura p {
    margin-bottom: 20px;
}
/*Estilos para el archivo contactos.html*/
#enviar {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#primerContacto p{
    margin: 20px;
    font-size: 20px;
}
#primerContacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#primerContacto div {
    width: 45%;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#formulario {
    max-width: 40%;
}
#intro {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#contactar_correo {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#contactar_correo h3{
    margin-bottom: 30px;
}
#formulario label,
#formulario input,
#formulario textarea,
#formulario input[type="submit"] {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 20px;
}
#contactar_li {
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contactar_li img{
    display: block;
    width: 20%;
    margin: auto;
}